@page
@model MusicDatabase6.Pages.Instruments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Instrument</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Instrument.InstrumentSerial" class="control-label"></label>
                <input asp-for="Instrument.InstrumentSerial" class="form-control" />
                <span asp-validation-for="Instrument.InstrumentSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.InstrumentType" class="control-label"></label>
                <input asp-for="Instrument.InstrumentType" class="form-control" />
                <span asp-validation-for="Instrument.InstrumentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrument.IsReturned" class="control-label"></label>
                <input asp-for="Instrument.IsReturned" class="form-control" />
                <span asp-validation-for="Instrument.IsReturned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Image</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}